{% extends "base.html" %}

{% comment %}
One Group for handling the broadcast of available rooms, connected to when on the listing page.
One Group per game room, handles the communication of bingo numbers from game to player.
{% endcomment %}

{% block main %}
<script>
// When we're using HTTPS, use WSS too.
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
var socket = new WebSocket(`${ws_scheme}://${window.location.host}/games/`);

console.dir(socket)

socket.onmessage = function(e) {
  console.log('socket.onmessage')
  console.log(e.data)
}

socket.onopen = function() {
  console.log('socket opened')
  socket.send('REQUEST_GAMES');
}
</script>
{% endblock %}
